<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">

      <%= f.input :first_name,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "first-name", class: "form-box" }%>
      <%= f.input :last_name,
                  required: true,
                  input_html: { autocomplete: "last-name", class: "form-box" }%>

      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email", class: "form-box" }%>
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password", class: "form-box" } %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password", class: "form-box" } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Sign up", class: "btn btn-primary w-100" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
