<div class="page-container"
  style="height:fit-content; display:flex; justify-content:space-between;">
  <div class="location-img-box">
    <% if @food_place.photo.key %>
      <%= cl_image_tag(@food_place.photo.key, class: "loc-show-img") %>
    <% else %>
      <img src="https://media.istockphoto.com/id/1283026526/photo/front-view-on-a-bakery-shop-building-on-a-piece-of-ground-3d-illustration.jpg?s=612x612&w=0&k=20&c=BeasxYNKUnwNLGcldcZ4JqY1DvDdQi0Ytlzcn8PDVSY="
      alt="default bakery image" class="loc-show-img">
    <% end %>
  </div>

  <h1 class="fp-title"><%= @food_place.name %></h1>

  <div class="location-content">
    <h3 class="loc-cont-title">Address</h3>
    <%= @food_place.address %>
    <br>
    <h3 class="loc-cont-title">About</h3>
    <%= @food_place.description %>
  </div>
</div>

<%# TODO add a map with ONLY current food place marker %>

<%# <div class="page-container"> %>
  <%# <% if user_signed_in? %> %>
    <%# <div class="rev-form-box"> %>
      <%# <%= simple_form_for [@food_place, @food_place_review], class:"review-form" do |f| %> %>
        <%# <%= f.input :title, input_html: { class: "rev-input-box", required: true } %> %>
        <%# <%= f.input :content, input_html: { class: "rev-input-text", required: true } %> %>
        <%# <%= f.button :submit, class: "submit-btn" %> %>
      <%# <% end %> %>
    <%# </div> %>
  <%# <% end %> %>
<%# </div> %>
