<h1 class="user-show-header"><%= current_user == @user ? "Hi #{@user.first_name}!" : "Welcome to #{@user.first_name}'s profile" %></h1>


<% if @check_user %>
  <%= link_to 'Edit Profile', edit_user_registration_path, class: "user-edit-btn" %>
<% end %>

<div class="page-container" style="display:flex; justify-content:space-between;">
  <%# User image %>
  <% if @user.photo.key %>
    <%= cl_image_tag @user.photo.key, class: "user-show-img" %>
  <% else %>
    <img src="https://imageio.forbes.com/specials-images/imageserve/5f7ca34110dfe853a2be6f5c/0x0.jpg?format=jpg&width=1200"
    alt="Default image of chef" class="user-show-img">
  <% end %>

  <% if @user.posts.length > 0 %>
    <div class="user-latest">
      <h3 class="bio-header" style="margin: 10px auto;"><%= @user.first_name %>'s latest</h3>
      <% @posts.each do |post| %>
        <%= render partial: 'shared/post_card', locals: {post: post} %>
      <% end %>
    </div>
  <% else %>
    <h3 class="bio-header" style="height:fit-content;">Nothing Here Yet!</h3>
  <% end %>

  <% if @user.bio %>
    <div class="user-bio-box">
      <h3 class="bio-header">About <%= @user.first_name %></h3> <br>
      <%= @user.bio %>
    </div>
  <% end %>
</div>

<br>

<h1 class="recipes-header"><%= @user.first_name %>'s Recipes.</h1>
<div class="page-container" style="display:flex; flex-wrap:wrap; justify-content:space-evenly;">
  <% if @user.recipes.length == 0 %>
    <h3 class="bio-header" style="height:fit-content;">Nothing Here Yet!</h3>
  <% end %>
  <%# user recipes %>
  <% @user.recipes.each do|recipe| %>
    <%= render partial: 'shared/recipe_card', locals: {recipe: recipe} %>
  <% end %>
  <%# User posts %>
</div>
