<div class="page-container" style="text-align:center;">
  <h2 id="forgot-pass-header">Forgot your password?</h2>

  <br>

  <div class="form-forgot-box">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", id: "forgot-email" %>
    </div>

    <br>

    <div class="actions">
      <%= f.submit "Reset Password", id: "forgot-submit" %>
    </div>
  <% end %>

  <br>
  <%= render "devise/shared/links" %>
  </div>
</div>
