
<div class="recipe-card">

  <div class="card-header-box">
    <h2 class="card-header"><%= recipe.title %></h2> <br>
  </div>
  <a href="/users/<%=recipe.user.id%>" class="recipe-user-link">
    <h4 style="background-color:whitesmoke; padding:0.2em; border-radius:1em;"><%= recipe.user.first_name %> <%= recipe.user.last_name %></h4>
  </a>

  <div class="rec-card-img">
    <%= link_to recipe_path(recipe), class: "recipe-linker" do %>
      <% if recipe.photo.key %>
        <%= cl_image_tag(recipe.photo.key, class: "rec-img") %>
      <% else %>
        <img src="https://preppykitchen.com/wp-content/uploads/2022/05/Naked-Cake-Recipe-Card.jpg" alt="ROTD" class="rec-img">
      <% end %>
    <% end %>
  </div>

  <br>

  <div class="card-info">
    <div class="info-sect">Category: <%= recipe.category.title %></div> <div class="info-sect">Difficulty: <%= recipe.difficulty %></div>
  </div>

  <br>

  <div class="recipe-card-desc">
    <%= recipe.desc %>
  </div>

</div>
