<%= link_to location_path(place), class: 'place-link' do %>
  <div class="location-card">
    <div class="location-img">
      <% if place.photo.key %>
        <%= cl_image_tag(place.photo.key, class: "loc-img") %>
      <% else %>
        <img src="<%= place.img_url %>"
        alt="default bakery image" class="loc-img">
      <% end %>
    </div>

    <div class="location-info">
      <h4>Name</h4>
      <%= place.name %>
      <h4>Address</h4>
      <%= place.address %> <br>
    </div>
  </div>
<% end %>
